option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: oc-lettings-site.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SECRET_KEY:"fp$9^593hsriajg$_%=5trot9g!1qa@ew(o-1#@=&4%=hp46(s"
    DSN_SENTRY:"https://d12e871b2740f71c6d45546b1510efa7@o4505622603104256.ingest.sentry.io/4505706981097472"